<ion-header>
    <ion-navbar>
        <ion-title >
            Detalhe
        </ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content padding>
	<ion-item>
    <ion-avatar item-start>
      <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-finn.png">
    </ion-avatar>
    <h2>{{contato.nome}}</h2>
    <p>{{contato.telefone}}</p>
  </ion-item>

  <ion-list>
      <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" placeholder="{{contato.nome}}" [(ngModel)]="contato.nome" name="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" placeholder="{{contato.email}}" [(ngModel)]="contato.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Telefone</ion-label>
        <ion-input type="tel" name="telefone" placeholder="{{contato.telefone}}" [(ngModel)]="contato.telefone" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Endereço</ion-label>
        <ion-input type="text" placeholder="{{contato.endereco}}" [(ngModel)]="contato.endereco" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Cidade</ion-label>
        <ion-input type="text" name="cidade" placeholder="{{contato.cidade}}" [(ngModel)]="contato.cidade" ></ion-input>
      </ion-item>

        <ion-input type="hidden" name="id" placeholder="{{contato.id}}" [(ngModel)]="contato.id" ></ion-input>

    </ion-list>
    <div padding>
      <button ion-button color="secondary" full type="submit" (click)="atualizarContato()"><ion-icon name="create" style="margin-right: 15px"></ion-icon>Alterar</button>
    </div>