<!--
  Generated template for the DetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
    <ion-avatar item-start>
      <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-finn.png">
    </ion-avatar>
    <h2>{{contato.nome}}</h2>
    <p>{{contato.telefone}}</p>
  </ion-item>

  <ion-list-header>
    <p>Email: {{contato.email}}</p>
    <p>Endereço: {{contato.endereco}}</p>
    <p>Cidade: {{contato.cidade}}</p>
  </ion-list-header>

  <ion-grid style="text-align: center;">
    <ion-row>
      <button ion-button icon-left style="background: #0000ffb5;" round>
        <a href="tel:{{contato.telefone}}" style="color: #fff;text-decoration: none;">
          <ion-icon name="call"></ion-icon>
          Telefonar
        </a>
      </button>

      <button ion-button icon-left style="background: #2ec95c;" round>
        <a href="mailto:{{contato.email}}" style="color:#fff;text-decoration: none;">
          <ion-icon name="mail"></ion-icon>
          Mandar Email
        </a>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>