<ion-header>
  <ion-navbar>
    <ion-title>
      Contatos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini (click)="adicionaContato()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar ..."></ion-searchbar>
  
  <ion-list>
    <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
    <ion-item-sliding *ngFor="let x of contatos" >
      <ion-item>
        <ion-avatar item-start>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-finn.png">
        </ion-avatar>
        <h2>{{x.nome}} </h2>
        <h3>{{x.telefone}}</h3>
        <p>{{x.email}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="apagarContato(x)">
          <ion-icon name="trash"></ion-icon>
          Apagar
        </button>
        <button ion-button color="secondary" (click)="selecionaContato(x)">
          <ion-icon name="contacts"></ion-icon>
          Editar
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="default" (click)="detalheContato(x)">
          <ion-icon name="return-right"></ion-icon>
          Ver
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>