<!--
  Generated template for the CadastroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de Contato</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form (ngSubmit)="cadastrarContato()">

		<ion-list>
		  <ion-item>
		    <ion-label stacked>Nome</ion-label>
		    <ion-input type="text" placeholder="Informe o seu nome ..." [(ngModel)]="contato.nome" name="nome"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Email</ion-label>
		    <ion-input type="email" placeholder="Informe o seu email ..." [(ngModel)]="contato.email" name="email"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Telefone</ion-label>
		    <ion-input type="tel" name="telefone" placeholder="Informe o seu telefone ..." [(ngModel)]="contato.telefone" ></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Endereço</ion-label>
		    <ion-input type="text" name="endereco" placeholder="Informe o seu endereco ..." [(ngModel)]="contato.endereco" ></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Cidade</ion-label>
		    <ion-input type="text" name="cidade" placeholder="Informe a sua cidade ..." [(ngModel)]="contato.cidade" ></ion-input>
		  </ion-item>

		</ion-list>
		<div padding>
		  <button ion-button color="secondary" full type="submit"><ion-icon name="add" style="margin-right: 15px"></ion-icon>Cadastrar</button>
		</div>

</form>
</ion-content>
